Source/TestWebService/xml-resources/web-service-references/Servicio/wsdl/localhost_52580/Servicio.svc.xsd_xsd3.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CentroMedico.Negocio" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/CentroMedico.Negocio"><xs:complexType name="Especialidad"><xs:sequence><xs:element minOccurs="0" name="Id" type="xs:int"/><xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Especialidad" nillable="true" type="tns:Especialidad"/><xs:complexType name="ArrayOfEspecialidad"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Especialidad" nillable="true" type="tns:Especialidad"/></xs:sequence></xs:complexType><xs:element name="ArrayOfEspecialidad" nillable="true" type="tns:ArrayOfEspecialidad"/></xs:schema>